<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="index">

    {% include header.html %}
    {% include docs_header.html %}
    {% if page.title %}
      {% include banner.html %}
    {% endif %}

    {{ content }}
    
    {% include footer.html %}
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1277478213'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s96.cnzz.com/z_stat.php%3Fid%3D1277478213%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
  </body>
</html>
